# Arquivos de ambiente e credenciais
.env
credenciais_presenca.json

# Ambiente virtual
.venv/
venv/
ENV/

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Arquivos do sistema
.DS_Store
Thumbs.db 